.animation-bg-container{
    box-sizing: border-box;
    position: absolute;

    height: calc(100% - 41px - (var(--frame-margin) * 2));
    width: calc(100% - (var(--frame-margin) * 2));
    bottom: var(--frame-margin);

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;

    overflow: hidden;
    /* border: 1px solid #29DDCC;
    border-radius: 9999px; */
}

.animation-bg-container.show{
    visibility: visible;
    opacity: .2;
}


/* Mobile */
@media (max-width: 690px){
    .animation-bg-container{
        height: calc(100% - 48px - var(--frame-margin-mobile));
        width: calc(100% - (var(--frame-margin-mobile) * 2));
        bottom: var(--frame-margin-mobile);
    }
}