:root{
    --frame-margin:4vh;
    --frame-margin-mobile: 1vh;
    --mobile-width-threshold: 690px;
}

:root.dark{
    --primary: #BB86FC;
    --primary-var: #3700b3;
    --secondary: #03dac6;
    --background: #121212;
    --red: #cf6679;
    --on-background: #ffffff;
    --on-primary: #000000;
    --on-secondary: #000000;
    background-color: var(--background);
}

:root.light{
    --primary: #6200ee;
    --primary-var: #3700b3;
    --secondary: #03dac6;
    --secondary-var: #018786;
    --background: #ffffff;
    --red: #b00020;
    --on-background: #121212;
    --on-primary: #ffffff;
    --on-secondary: #000000;
    background-color: var(--background);
}

.App {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--on-background);
    font-size: 1.2rem;
    overflow: hidden;
    margin: var(--frame-margin);
    border: 1px solid var(--on-background);
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Mobile */
@media (max-width: 690px){
    .App {
        margin: var(--frame-margin-mobile);
    }
}

/* Tablet */
@media (max-width: 1000px){
}
