header{
    display: flex;
    align-items: center;
    z-index: 1;
}

nav{
    display: flex;
    border: 1px solid var(--on-background);
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

header a{
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    padding: 8px 16px;
    color: var(--on-background);
    background-color: var(--background);
}

.external-link{
    display: flex;
    border: 1px solid var(--on-background);
    margin-left: auto;
}

header .active{
    background-color: var(--secondary);
    color: var(--on-secondary);
}

header a:hover{
    background-color: rgba(3, 218, 197, 0.4);
}

.btn-menu,
.btn-close-menu{
    display: none;
}

/* Mobile */
@media (max-width: 600px){

    header,
    nav ul,
    .external-link{
        flex-direction: column;
    }

    nav,
    nav ul,
    .external-link{
        width: 100%;
        border: 0;
    }

    header{
        position: absolute;
        align-items: flex-start;
        height: 100vh;
        width: 100%;
        background-color: var(--background);
        visibility: hidden;
        border: 1px solid var(--on-background);

        box-sizing: border-box;
    }

    nav{
        margin-top: 48px;
    }

    .external-link{      
        margin-left: 0;
        margin-top: auto;
    }

    header li,
    header .external-link a{
        border-bottom: 1px solid var(--on-background);
    }

    header a {
        padding: 18px 16px;
    }

    header ul > :first-child,
    .external-link > :first-child{
        border-top: 1px solid var(--on-background);
    }

    .external-link > :last-child{
        border-bottom: 0;
    }

    .btn-menu,
    .btn-close-menu{
        display: flex;
        width: max-content;
        z-index: 2;
        margin-left: calc(100% - 60px);

        background: 0;
        border: 0;
    }

    .btn-menu svg{
        color: var(--secondary);
    }

    .btn-close-menu svg{
        color: var(--red);
    }

    header.show-header{
        visibility: visible;
    }

    .btn-menu.hide-btn,
    .btn-close-menu.hide-btn{
        display: none;
    }
}